@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Rubik:wght@300;400;700&display=swap');

:root {
    --bg-color: aquamarine;
    --font-principal: 'Roboto', sans-serif;
    --letras-destaque: 2em;
    --letras-sem-destaque:3em;
    --cor-botao-fechar: rgba(250, 255, 254);
    --cor-box-shadow: rgba(0, 0, 0, 0.7);
    --bg-exemplos-hover: rgb(61, 143, 116);
    --bg-exemplos-hover-shadow: rgba(61, 143, 116, 0.9);
}

.corpo {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-principal);
    user-select: none;
    
    
}
.cabecalho {
    font-weight: 300;
    font-size: var(--letras-destaque);
    margin: 3em 0;

}
.titulo_destaque {
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--font-principal);
    
}
.titulo_texto {
    text-align: center;
}
.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
    width: 60%;
    margin-bottom: 5em;
    border: 1px solid var(--bg-color);
    box-shadow: 10px 10px 10px 10px var(--cor-box-shadow);
    border-radius: 10px;
    padding: 2em 0;
    
}

.cronometro {
    display: flex;
    justify-content: center;
}

.horas, .minutos, .segundos {
    display: flex;
    align-items: center;
        
}

.dois_pontos {
    display: none;
    font-size: var(--letras-destaque);
}

input {
    font-weight: 400;
    font-size: var(--letras-sem-destaque);
    background: none;
    border: 0;
    width: 53px;
    display: inline-flex;
    text-align: center;
}
.material-icons {
    font-size: 3em;
    cursor: pointer;
    transition: 1s;
}
.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 5em;
    
}

.rodape_botoes {
    display: flex;
    justify-content: center;
    width: 60%;
    gap: 3em;
    
}

.exemplos {
    display: flex;
    gap: 6em;
    margin-top: 3em;
    width: 60%;
    justify-content: center;

}

.exemplos_titulo {
    font-size: var(--letras-destaque);
}

.exemplos_pomodoro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.exemplo1:hover, .exemplo2:hover {
    border: 1px solid var(--bg-exemplos-hover);
    background-color: var(--bg-exemplos-hover);
    box-shadow: 5px 5px 10px 5px var(--cor-box-shadow);
    transition: 1s;
}
.exemplo1, .exemplo2 {
    font-size: var(--letras-sem-destaque);
    border: 1px solid var(--bg-color);
    box-shadow: 5px 5px 5px 5px var(--cor-box-shadow);
    border-radius: 10px;
}

#div_mensagem {
    display: none;
    width: 20%;
    border: 1px solid var(--bg-color);
    border-radius: 5px;
    align-items: center;
    box-shadow: 5px 5px 5px 5px var(--cor-box-shadow);
    background-color: var(--cor-botao-fechar);
    position: absolute;
    height: 20%;
    
}

.topo {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 0 ;
    
}

#fechar {
    background-color: var(--cor-botao-fechar) ;
    color: red;
    border: none;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 4px;
}

.titulo-mensagem {
    margin:0 42%;
    
}
.baixo {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    
}
#mensagem {
    text-align: center;
}

@media screen and (max-width:415px) {
    :root {
        --bg-color: aquamarine;
        --font-principal: 'Roboto', sans-serif;
        --letras-destaque: 1.5em;
        --letras-sem-destaque: 2em;
        --cor-botao-fechar: rgba(250, 255, 254);
        --cor-box-shadow: rgba(0, 0, 0, 0.7);
        --bg-exemplos-hover: rgb(61, 143, 116);
        --bg-exemplos-hover-shadow: rgba(61, 143, 116, 0.9);
    }
    .apresentacao {
        width: 80%;
    }
    .exemplo1, .exemplo2 {
        padding: 0.3em;
    }

    #div_mensagem {
        width: 70%;
    }

    .titulo-mensagem {
        margin:0 33.3% 0 45%;
        
    }
}